<ion-header>
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input type="text" placeholder="Enter Input" class="MainInput" [(ngModel)]="inputTxt" (ionChange)="updateLength()"></ion-input>
  <span>The length of input text is </span><span (ionChange)="sizeChange()"
  [ngClass]="{
    'beGreen': inputsize>6,
    'beRed': inputsize<3
  }">{{showSize(inputTxt)}}</span>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-title></ion-title>
      <ion-button (click)="presentAlert()" class="AlertButton">Default</ion-button>
      <ion-button (click)="pushPage()">GoExtra</ion-button>
    </ion-toolbar>
  </ion-footer>
