.MainInput {
  padding: 30%;
  margin: 30%;
  border-style: dashed;
  margin: auto;
  text-align: center;
  background-color: black;
}

.AlertButton {
  margin: auto;
  text-align: center;
}

.beGreen{
  color: green;
}

.beRed{
  color: red;
}
