.MainInput {
  padding: 30%;
  margin: 30%;
  border-style: dashed;
  margin: auto;
  text-align: center;
}

.AlertButton {
  margin: auto;
  text-align: center;
}

.altStyleA{
  background-color: white;
}

.altStyleB{
  background-color: black;
}
