.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.displayColor{
  margin-left: 40%;
  margin-right: 40%;
  height: 60%;
  width: 20%;
  border-radius: 30%;
  border-width: thick;
  background-color: rgba(0,0,0,0.8);
}
